stages:
  - deploy

deploy-to-server:
  stage: deploy
  image: alpine:3.20
  only:
    - feat/config-cicd
  before_script:
    - set -euo pipefail
    - apk add --no-cache openssh-client sshpass   # install ssh + sshpass
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
#    - echo "$SSH_PRIVATE_KEY_SERVER" | tr -d '\r' > ~/.ssh/id_rsa
#    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -T 5 -p "${SSH_PORT_SERVER:-22}" "$SSH_HOST_SERVER" >> ~/.ssh/known_hosts 2>/dev/null || true
  script:
    - >
      ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no
      -p "${SSH_PORT_SERVER:-22}"
      "$SSH_USER_SERVER@$SSH_HOST_SERVER"
      "echo Connected OK"
