stages:
  - build
  - deploy


build-image:
  stage: build
  image: docker:27
  services: [docker:27-dind]
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  only:
    - feat/config-cicd
  before_script:
    - echo "$REGISTRY_PASSWORD" | docker login -u "$REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - docker build -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:latest

deploy-to-server:
  stage: deploy
  needs: [ "build-image" ]
  image: alpine:3.20
  only:
    - feat/config-cicd
  before_script:
#    - eval $(ssh-agent -s)
#    - echo "$SSH_PRIVATE_KEY_SERVER" | tr -d '\r' | ssh-add -
    - apk add --no-cache openssh-client sshpass
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -p "$SSH_PORT_SERVER" "$SSH_HOST_SERVER" >> ~/.ssh/known_hosts
  script:
    - sshpass -p "$SSH_PASSWORD_SERVER" ssh -o StrictHostKeyChecking=no -p "$SSH_PORT_SERVER" "$SSH_USER_SERVER@$SSH_HOST_SERVER" "echo Connected OK"
