stages:
  - deploy

deploy-to-server:
  stage: deploy
  image: alpine:3.20
  only:
    - feat/config-cicd
  before_script:
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_PRIVATE_KEY_SERVER" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
  script:
    - >
      ssh -i ~/.ssh/id_rsa
      -o StrictHostKeyChecking=no
      -p "$SSH_PORT_SERVER"
      "$SSH_USER_SERVER@$SSH_HOST_SERVER"
      "echo Connected OK"
